.audio {
    width: 90%;
    margin: 0px auto;
    background:#ff4d00 ;
    height: 10vh;
    position: relative;
    text-align: center;
    border-radius: 10px;
    padding-top:0.1vh;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    display: block;
}