.premi {
    width: 90vw;
    height: 90vh;
    padding: 10vh 5vw 0 5vw;
}
.premi h2 {
    margin:40% 0 20% 0;
    font-size: 2.8em;
}
.premi p{
    font-size: 1.3em;
}
.btnEntra {
    margin-top: 32%;
}
.premium {
    width: 90%;
    margin: 0px auto;
    background:#ff4d00 ;
    height: 10vh;
    position: relative;
    text-align: center;
    border-radius: 10px;
    padding-top:0.1vh;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    display: block;
}